<html xmlns:th="http://www.thymeleaf.org" >
 <head>
  <title>ThymeLeaf 뷰페이지</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="./css/th.css" />  
 </head>
 <body>
  <h1>ThymeLeaf 연습 페이지</h1>
  <h2 class="thymeLeaf_css" th:text="${greeting}"></h2>
  <hr/>
  
  <h3>맛난 알밤</h3>
  <img src="./images01/chestnut.jpg" width="250px" height="180px" alt="알밤" />
  
  <h3>맛난 군고구마</h3>
  <img src="./images02/potato.jpeg" width="250px" height="180px" alt="군고구마" />
  
 </body>
</html>